Repository PrideInLondon/pride-london-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, remark . --frail, prettier-package-json --write, git add .

WEBNEW-102 :fire: remove dates from when component as it is not used yet
  src/events/eventListingCard/EventListingCard.tsx
  src/events/eventListingCard/EventListingCard.types.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-102 👽 Event card dates (#1421)
  @types/uuid-encoder/index.d.ts
  package.json
  src/components/card/Card.tsx
  src/events/EventListingCard.js
  src/events/GroupedEventsCards.js
  src/events/__mocks__/index.js
  src/events/event/EventsYouMayLike.js
  src/events/eventListingCard/EventListingCard.styles.ts
  src/events/eventListingCard/EventListingCard.test.js
  src/events/eventListingCard/EventListingCard.tsx
  src/events/eventListingCard/EventListingCard.types.ts
  src/events/helpers.js
  src/events/helpers.ts
  src/events/index.ts
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, prettier-package-json --write, git add .

WEBREF-88 📝 README refresh (#1412)
  .env.example
  README.md
Due: remark . --frail

WEBNEW-102 :recycle: refactor event listing card to use new contentful dates, and update tests
  src/events/EventCard.test.js
  src/events/EventCard.ts
  src/events/__mocks__/index.js
  src/events/eventListingCard/EventListingCard.test.js
  src/events/eventListingCard/EventListingCard.test.ts
  src/events/eventListingCard/EventListingCard.tsx
  src/events/eventListingCard/EventListingCard.types.ts
  src/events/eventListingCard/EventListingCard.utils.ts
  src/events/helpers.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-113 :bento: Resized events banner image
  src/events/heroImage.jpg
Due: none

WEBNEW-113 :wheelchair: Updated visually hidden h1 on events page to reflect new branding
  src/events/EventsPage.js
  src/events/EventsPageBanner.tsx
  src/events/EventsPageBanner.types.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-113 🍱 Staying In branding (#1422)
  src/events/ComingOut.tsx
  src/events/EventsPage.js
  src/events/EventsPageBanner.tsx
  src/events/EventsPageBanner.types.ts
  src/events/comingOutHeadline.svg
  src/events/diageo.jpg
  src/events/heroImage.jpg
  src/events/heroImage2.jpg
  src/events/stayingInHeadline.svg
  src/pages/events.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-115 :recycle: removed apple store buttons, added new copy
  src/events/AppPromotionCard.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-102 :white_check_mark: fix tests so date generated for mocks is UK timezone
  src/events/eventListingCard/EventListingCard.test.ts
  src/events/helpers.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-102 :bug: sort events by next occurrence date
  src/events/EventsPage.js
  src/events/helpers.test.js
  src/events/helpers.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

set mock dates for test to UK timezone
  src/events/helpers.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-102 :bug: set mock dates for test to UK timezone
  src/events/helpers.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-102 :bug: fix typo in sort func
  src/events/helpers.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-117 :wrench: Added redirect for campaign applications
  static/_redirects
Due: none

WEBNEW-117 :wrench: Added redirect for campaign applications (#1438)
  static/_redirects
Due: none

WEBNEW-102 event card dates (#1424)
  src/events/EventCard.test.js
  src/events/EventCard.ts
  src/events/EventsPage.js
  src/events/__mocks__/index.js
  src/events/eventListingCard/EventListingCard.test.js
  src/events/eventListingCard/EventListingCard.test.ts
  src/events/eventListingCard/EventListingCard.tsx
  src/events/eventListingCard/EventListingCard.types.ts
  src/events/eventListingCard/EventListingCard.utils.ts
  src/events/helpers.test.js
  src/events/helpers.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-104 :zap: Added exception to git hook for when rebasing
  src/scripts/prepare-commit-msg/git-utils.js
  src/scripts/prepare-commit-msg/prepare-commit-msg.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-82 :package: Update Gatsby dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-82 :package: Update Gatsby dependencies (#1440)
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-115 :ok_hand: changed namin of component to EventListingPromotionCard, removed the Link Wrapper and shortened the URL slug
  src/events/EventListingPromotionCard.test.tsx
  src/events/EventListingPromotionCard.tsx
  src/events/GroupedEventsCards.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Update EventListingPromotionCard.test.tsx
  src/events/EventListingPromotionCard.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-115 :ok_hand: removed the test file for EventListingPromotionCard, added a test that checked the GroupedEvents Card to the GroupedTestCards file
  src/events/EventListingPromotionCard.test.tsx
  src/events/EventListingPromotionCard.tsx
  src/events/GroupedEventsCards.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-115 :ok_hand: changed imports in GroupedEventsCards to mathc new path
  src/events/GroupedEventsCards.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-115 :ok_hand: removed the variables and put the strings straight into the component
  src/events/EventListingPromotionCard.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-111 :sparkles: display upcoming events
  src/events/event/EventInfoCard.js
  src/events/event/EventPage.js
  src/events/event/EventPage.styles.js
  src/events/helpers.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-111 :iphone: Mobile scroll snap carousel
  src/events/event/EventPage.js
  src/events/event/EventPage.styles.js
  src/events/event/EventUpcomingDates.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-111 :recycle: only add tabindex when in carousel variant, add test for date formatting
  src/events/event/EventUpcomingDates.tsx
  src/events/helpers.test.js
  src/events/helpers.ts
  src/hooks/useMedia.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-111 :recycle: add checks for window so gatsby can build
  src/hooks/useMedia.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-115 :ok_hand: replaced CTA Link with Button style
  src/events/EventListingPromotionCard.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-115 ✨ Removed apple store buttons, added new copy (#1425)
  src/events/AppPromotionCard.test.tsx
  src/events/AppPromotionCard.tsx
  src/events/EventListingPromotionCard.tsx
  src/events/GroupedEventsCards.js
  src/events/GroupedEventsCards.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

fix: .snyk & package.json to reduce vulnerabilities
  .snyk
Due: none

fix: .snyk & package.json to reduce vulnerabilities
  package.json
Due: prettier-package-json --write, git add .

WEBNEW-111 :lipstick: add pagination to event dates
  src/events/event/EventPage.js
  src/events/event/EventUpcomingDates.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-111 :lipstick: show 6 dates at a time, fix mobile styles, use ul li for better semantic html
  src/events/event/EventUpcomingDates.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-111 :bug: add key to map
  src/events/event/EventUpcomingDates.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW 111 - Event detail dates (#1441)
  src/events/event/EventInfoCard.js
  src/events/event/EventPage.js
  src/events/event/EventPage.styles.js
  src/events/event/EventUpcomingDates.tsx
  src/events/helpers.test.js
  src/events/helpers.ts
  src/hooks/useMedia.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-104 :zap: Added exception to git hook for when rebasing (#1439)
  src/scripts/prepare-commit-msg/git-utils.js
  src/scripts/prepare-commit-msg/prepare-commit-msg.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-22 :recycle: changed the component to use the useEffect hook and convert to functional
  src/blog/ViewsContainer.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-22 :recycle: took out all references to -this- and updated the useEffect hook
  src/blog/ViewsContainer.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-103 :sparkles: Added helper to determine recurring event
  src/events/helpers.test.js
  src/events/helpers.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Path conditions:
  eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]': any of: src/**/*.{js,json,ts,tsx}
  stylelint: any of: src/**/*.{js,json,ts,tsx}
  jest --findRelatedTests: any of: src/**/*.{js,json,ts,tsx}
  remark . --frail: any of: *.md
  prettier-package-json --write: any of: package.json
  git add .: any of: package.json
