Repository PrideInLondon/pride-london-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, remark . --frail

WEBREF-48 ⬆️ upgraded to node 12 (#1285)
  .circleci/config.yml
  .nvmrc
Due: none

:arrow_up: Update Gatsby dependencies
  package.json
  src/components/filterContainer/filterLabel/__snapshots__/index.test.js.snap
  src/components/filteredPagedCardContainer/__snapshots__/index.test.js.snap
  yarn.lock
Due: none

setup react testing library, add type def for styled-components theme for intellisense
  @types/index.d.ts
  @types/styled-components/index.d.ts
  __mocks__/gatsby.ts
  config/jest.setup.js
  config/jest.setup.ts
  jest.config.js
  package.json
  src/components/card/Card.test.tsx
  src/utilities/testing.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-49 :package: Resolved react-side-effect dependency
  package.json
  yarn.lock
Due: none

setup react testing library, (#1287)
  @types/index.d.ts
  @types/styled-components/index.d.ts
  __mocks__/gatsby.ts
  config/jest.setup.js
  config/jest.setup.ts
  jest.config.js
  package.json
  src/components/card/Card.test.tsx
  src/utilities/testing.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-37 🔍 Privacy and Line Up redirects (#1279)
  how-to-guide.md
  static/_redirects
Due: remark . --frail

WEBREF-49 :package: Resolved react-side-effect dependency (#1297)
  package.json
  yarn.lock
Due: none

WEBREF-57 :fire: Removed coverage report from standard test command
  jest.config.js
  package.json
Due: none

WEBREF-57 :construction_worker: Run coverage report during build pipe
  .circleci/config.yml
  package.json
Due: none

WEBREF-57 :bug: Fixed mapping bug in build pipe config
  .circleci/config.yml
Due: none

WEBREF-57 :bug: Fixed spacing issue in build config
  .circleci/config.yml
Due: none

WEBREF-58 :wrench: Added a recommended list of vscode extensions
  .gitignore
  .vscode/extensions.json
Due: none

:arrow_up: Update dependencies
  package.json
  yarn.lock
Due: none

WEBREF-57 🔥 Remove coverage report from local test run (#1299)
  .circleci/config.yml
  jest.config.js
  package.json
Due: none

WEBREF-58 :wrench: Added a recommended list of vscode extensions (#1302)
  .gitignore
  .vscode/extensions.json
Due: none

create appPromotionCard
  src/features/events/components/appPromotionCard.tsx
  src/features/events/components/groupedEventsCard.js
  src/features/events/tests/__snapshots__/groupedEventsCard.test.js.snap
  src/features/events/tests/appPromotionCard.test.js
  src/features/events/tests/groupedEventsCard.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-55 Add box-shadow
  src/components/navigation/submenu/styles.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-56 Remove target property
  src/features/exploreLondon/components/communityPartnerCard/index.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-31 :heavy_minus_sign: Removed unused prod deps
  package.json
  yarn.lock
Due: none

WEBREF-31 :heavy_minus_sign: Removed unused dev deps
  package.json
  yarn.lock
Due: none

WEBREF-31 :package: Moved packages to correct env
  package.json
Due: none

WEBREF-31 :arrow_up: Updated patch dev deps
  package.json
  yarn.lock
Due: none

WEBREF-31 :arrow_up: Updated minor dev deps
  package.json
  yarn.lock
Due: none

WEBREF-31 :package: Resolved missing/misplaced contentful deps
  package.json
  yarn.lock
Due: none

WEBREF-31 :arrow_up: Updated major dev deps
  .lintstagedrc
  package.json
  yarn.lock
Due: none

WEBREF-31 :package: Added custom resolutions for peer deps
  package.json
  yarn.lock
Due: none

:arrow_up: Update Gatsby dependencies
  package.json
  yarn.lock
Due: none

:wrench: Change dependabot updates from live to weekly
  .dependabot/config.yml
Due: none

WEBREF-47 Add global.___loader mock to Jest setup
  config/jest.setup.js
Due: none

WEBREF-47: Remove unneccessary global mocks from unit tests
  src/components/button/Button.test.js
  src/components/cookieNotice/index.test.js
  src/components/ctaLink/CTALink.test.js
  src/components/footer/index.test.js
  src/components/navigation/nav/index.test.js
  src/components/navigation/navItem/index.test.js
  src/features/blog/containers/viewsContainer/index.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-47: Remove uneccessary jest-styled-components import from unit tests
  src/components/banner/bannerDate/index.test.js
  src/components/banner/bannerSubtitle/index.test.js
  src/components/banner/bannerTitle/index.test.js
  src/components/checkbox/index.test.js
  src/components/checkboxSet/index.test.js
  src/components/cookieNotice/index.test.js
  src/components/ctaLink/CTALink.test.js
  src/components/navigation/nav/index.test.js
  src/components/navigation/navItem/index.test.js
  src/components/navigation/submenu/index.test.js
  src/features/blog/components/viewsCard/index.test.js
  src/features/events/tests/groupedEventsCard.test.js
  src/features/genericContentPage/components/figure/index.test.js
  src/features/genericContentPage/components/video/index.test.js
  src/features/homepage/components/featuredEvents/index.test.js
  src/features/paradeGroups/containers/paradeGroupsContainer/index.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-55 Add transition to box-shadow
  src/components/navigation/submenu/styles.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-15 :art: Added.tsx files, needs types for constants and context
  src/components/appContext/index.js
  src/components/checkboxSet/CheckboxSet.stories.tsx
  src/components/checkboxSet/CheckboxSet.styles.ts
  src/components/checkboxSet/CheckboxSet.tsx
  src/components/checkboxSet/CheckboxSet.types.tsx
  src/components/checkboxSet/index.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-15 Add ts-ignore to lines above imported entities without types
  src/components/checkboxSet/CheckboxSet.stories.tsx
  src/components/checkboxSet/CheckboxSet.styles.ts
  src/components/checkboxSet/CheckboxSet.test.js
  src/components/checkboxSet/CheckboxSet.tsx
  src/components/checkboxSet/__snapshots__/CheckboxSet.test.js.snap
  src/components/checkboxSet/__snapshots__/index.test.js.snap
  src/components/checkboxSet/index.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-15 Remove snapshot test and destructure appContext
  src/components/checkboxSet/CheckboxSet.test.js
  src/components/checkboxSet/CheckboxSet.tsx
  src/components/checkboxSet/__snapshots__/CheckboxSet.test.js.snap
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-17 Fix click handler
  src/components/filterButton/index.js
  src/components/filterButton/index.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-47: Fix empty lines between import statements
  src/components/checkboxSet/index.test.js
  src/components/ctaLink/CTALink.test.js
  src/components/navigation/nav/index.test.js
  src/components/navigation/navItem/index.test.js
  src/components/navigation/submenu/index.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-47: Move jest-styled-components to setupAfterEnv file
  config/jest.setup.ts
  src/components/banner/bannerImage/index.test.js
  src/components/filterButton/index.test.js
  src/components/filterContainer/filterLabel/__snapshots__/index.test.js.snap
  src/components/filteredPagedCardContainer/__snapshots__/index.test.js.snap
  src/components/footer/index.test.js
  src/components/pagedCardContainer/__snapshots__/index.test.js.snap
  src/components/sponsors/components/sponsorBadge/__snapshots__/index.test.js.snap
  src/features/genericContentPage/index.test.js
  src/features/paradeGroups/components/letterLink/index.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-31 📦 Extreme dependency clean out (#1301)
  .lintstagedrc
  package.json
  yarn.lock
Due: none

WEBNEW-56 Remove target property (#1312)
  src/features/exploreLondon/components/communityPartnerCard/index.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Path conditions:
  eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]': any of: src/**/*.{js,json,ts,tsx}
  stylelint: any of: src/**/*.{js,json,ts,tsx}
  jest --findRelatedTests: any of: src/**/*.{js,json,ts,tsx}
  remark . --frail: any of: *.md
