Repository PrideInLondon/pride-london-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, remark . --frail, prettier-package-json --write, git add .

WEBNEW-192 :speech_balloon: Update Donation copy on homepage
  src/homepage/DonateSectionHeader.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-180 :bug: Fixed bug in grid gallery variant
  src/components/gallery/GalleryContainer.styles.ts
  src/components/gallery/GalleryContainer.tsx
  src/components/gallery/GalleryContainer.types.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-187 :recycle: add story for open by default
  src/components/modal/Modal.stories.tsx
  src/components/modal/Modal.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-192 :speech_balloon: Update Donation copy on homepage (#1582)
  src/homepage/DonateSectionHeader.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

DSO-10 :sparkles: Add storybook dependency
  .gitignore
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-187 :recycle: Fix code smell issue, fix style color white variable
  src/components/modal/Modal.styles.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-171 :lipstick: implemented share bar for desktop and mobile and converted respective files to typescript
  src/blog/article/ArticlePage.js
  src/blog/article/BlogFooter.tsx
  src/blog/article/BlogHeader.js
  src/blog/article/BlogHeader.tsx
  src/blog/article/PageContent.js
  src/blog/article/PageContent.styles.js
  src/blog/article/PageContent.tsx
  src/blog/article/blogContent/BlogContent.js
  src/blog/article/blogContent/BlogContent.tsx
  src/utils/share-utils.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-170 💄 Create Fifty Two CTA Component (#1557)
  src/components/ctaBox/CTABox.js
  src/components/ctaBox/CTABox.styles.js
  src/components/ctaBox/CTABox.styles.ts
  src/components/ctaBox/CTABox.tsx
  src/components/ctaBox/CTABox.types.ts
  src/components/ctaBox/ctaBox.stories.tsx
  src/components/pageIntro/PageIntro.styles.js
  src/components/pageIntro/PageIntro.styles.ts
  src/components/pageIntro/PageIntro.tsx
  src/components/pageIntro/PageIntro.types.ts
  src/components/pageIntro/pageIntro.stories.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-187 💄 Modal Component (#1569)
  package.json
  src/components/modal/Modal.stories.tsx
  src/components/modal/Modal.styles.tsx
  src/components/modal/Modal.test.tsx
  src/components/modal/Modal.tsx
  src/components/modal/Modal.types.ts
  src/components/modal/navy-background.jpg
  src/hooks/usePickedProps.ts
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, prettier-package-json --write, git add .

DSO-9 :package: Update Gatsby dependencies 1
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

DSO-9 :package: Update Gatsby dependencies 2
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

DSO-9 :package: Update Gatsby dependencies 3
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

DSO-9 :package: Update Gatsby dependencies 4
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

DSO-9 :package: Update Gatsby dependencies 5
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

DSO-9 :package: Update Gatsby dependencies 6
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

DSO-9 📦 Update Gatsby dependencies (#1599)
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

fix: package.json, yarn.lock & .snyk to reduce vulnerabilities
  .snyk
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-180 ✨ Gallery component (#1585)
  src/components/filterContainer/FilterContainer.stories.tsx
  src/components/filterContainer/FilterContainer.styles.ts
  src/components/filterContainer/FilterContainer.test.js
  src/components/filterContainer/FilterContainer.test.tsx
  src/components/filterContainer/FilterContainer.tsx
  src/components/filterContainer/FilterContainer.types.ts
  src/components/filterContainer/FilterLabel.stories.tsx
  src/components/filterContainer/FilterLabel.styles.js
  src/components/filterContainer/FilterLabel.styles.ts
  src/components/filterContainer/FilterLabel.test.js
  src/components/filterContainer/FilterLabel.test.tsx
  src/components/filterContainer/FilterLabel.tsx
  src/components/filterContainer/FilterLabel.types.ts
  src/components/filteredPagedCardContainer/FilteredPagedCardContainer.test.js
  src/components/gallery/Gallery.stories.tsx
  src/components/gallery/Gallery.test.tsx
  src/components/gallery/Gallery.tsx
  src/components/gallery/Gallery.types.ts
  src/components/gallery/GalleryContainer.styles.ts
  src/components/gallery/GalleryContainer.tsx
  src/components/gallery/GalleryContainer.types.ts
  src/components/gallery/index.ts
  src/components/masonry/Masonry.stories.tsx
  src/components/masonry/Masonry.styles.ts
  src/components/masonry/Masonry.test.ts
  src/components/masonry/Masonry.tsx
  src/components/masonry/Masonry.types.ts
  src/components/masonry/index.ts
  src/hooks/useEventListener.ts
  src/theme/breakpoints.ts
  src/utils/color-utils.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :sparkles: Created fifty two homepage with banner
  src/fifty-two/FiftyTwoPage.tsx
  src/fifty-two/bannerImage.svg
  src/pages/fifty-two-2.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :sparkles: Added page intro to 52 homepage
  src/fifty-two/FiftyTwoPage.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :speech_balloon: Connected 52 CTA box with CMS
  src/fifty-two/FiftyTwoPage.tsx
  src/fifty-two/FiftyTwoPage.types.ts
  src/pages/fifty-two-2.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :speech_balloon: Connected 52 banner with CMS
  src/fifty-two/FiftyTwoPage.tsx
  src/fifty-two/FiftyTwoPage.types.ts
  src/pages/fifty-two-2.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :sparkles: Added categories title and filter to page
  src/fifty-two/FiftyTwoPage.tsx
  src/fifty-two/FiftyTwoPage.types.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :label: Used newly merged Category type
  src/fifty-two/FiftyTwoPage.tsx
  src/fifty-two/FiftyTwoPage.types.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-186 :tada: first draft - have some real issues with spacing so would love some input
  src/components/galleryCard/GalleryCard.stories.tsx
  src/components/galleryCard/GalleryCard.tsx
  src/components/galleryCard/GalleryCard.types.ts
  src/components/galleryCard/index.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :alien: Updated title filter following CMS update
  src/pages/fifty-two-2.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :sparkles: Pull page intro body from CMS
  src/fifty-two/FiftyTwoPage.tsx
  src/fifty-two/FiftyTwoPage.types.ts
  src/fifty-two/renderMethods.tsx
  src/pages/fifty-two-2.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :sparkles: Pull banner image from CMS
  src/fifty-two/FiftyTwoPage.tsx
  src/fifty-two/FiftyTwoPage.types.ts
  src/fifty-two/bannerImage.svg
  src/pages/fifty-two-2.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :sparkles: Added CategoryFilter component
  src/components/categoryFilter/CategoryFilter.stories.tsx
  src/components/categoryFilter/CategoryFilter.styles.ts
  src/components/categoryFilter/CategoryFilter.test.tsx
  src/components/categoryFilter/CategoryFilter.tsx
  src/components/categoryFilter/CategoryFilter.types.ts
  src/components/categoryFilter/index.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :art: Simplified category filter props
  src/components/categoryFilter/CategoryFilter.stories.tsx
  src/components/categoryFilter/CategoryFilter.test.tsx
  src/components/categoryFilter/CategoryFilter.tsx
  src/components/categoryFilter/CategoryFilter.types.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :lipstick: Swapped out filter container with new comp
  src/fifty-two/FiftyTwoPage.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :lipstick: Extended gallery container to take space props
  src/components/gallery/GalleryContainer.styles.ts
  src/components/gallery/GalleryContainer.tsx
  src/components/gallery/GalleryContainer.types.ts
  src/components/masonry/Masonry.styles.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :lipstick: Tweaked masonry to ensure equal column width
  src/components/masonry/Masonry.styles.ts
  src/components/masonry/Masonry.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :sparkles: Added gallery to 52 homepage
  src/fifty-two/FiftyTwoPage.tsx
  src/fifty-two/FiftyTwoPage.types.ts
  src/fifty-two/GalleryCard.tsx
  src/pages/fifty-two-2.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-190 :sparkles: Added pagination to 52 gallery
  src/fifty-two/FiftyTwoPage.styles.ts
  src/fifty-two/FiftyTwoPage.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

generate artist pages and expose contentful data in props to detail page
  gatsby-node.esm.js
  src/fifty-two/FiftyTwoDetailPage.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

remove comment
  gatsby-node.esm.js
Due: none

generate prev and next 52 pages
  gatsby-node.esm.js
Due: none

WEBNEW-171 :bug: fixed code smell, styling, and in operator error
  src/blog/article/PageContent.styles.js
  src/blog/article/PageContent.tsx
  src/utils/share-utils.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-171 :bug: fixed missed code smell and converted style files to tsx
  src/blog/article/PageContent.styles.tsx
  src/blog/article/PageContent.tsx
  src/components/shareBar/ShareBar.styles.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Path conditions:
  eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]': any of: src/**/*.{js,json,ts,tsx}
  stylelint: any of: src/**/*.{js,json,ts,tsx}
  jest --findRelatedTests: any of: src/**/*.{js,json,ts,tsx}
  remark . --frail: any of: *.md
  prettier-package-json --write: any of: package.json
  git add .: any of: package.json
