Repository PrideInLondon/pride-london-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, remark . --frail, prettier-package-json --write, git add .

DSO-45 :pencil: Fix whitespace for CodeQL status badge (#1656)
  README.md
Due: remark . --frail

DSO-46 :fire: Remove gatsby-plugin-offline
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

DSO-46 :fire: Remove gatsby-plugin-offline (#1664)
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

DSO-47 :pencil: Update privacy page
  src/privacy/PrivacyPage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

DSO-47 :pencil: Update privacy page (#1678)
  src/privacy/PrivacyPage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-116 :truck: Moved global style to own module
  .storybook/config.js
  src/layout/GlobalStyle.js
  src/layout/Layout.js
  src/layout/Layout.styles.js
  src/layout/index.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-116 :wrench: Explicitly define a base path
  .storybook/config.js
Due: none

WEBNEW-203 :pushpin: Explicitly pin gatsby-link to 2.4.3
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-203 :pushpin: Explicitly pin gatsby-link to 2.4.3 (#1687)
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBREF-116 🐛 Storybook failing to build (#1686)
  .storybook/config.js
  src/layout/GlobalStyle.js
  src/layout/Layout.js
  src/layout/Layout.styles.js
  src/layout/index.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-155 :fire: Removed text from story
  src/components/rippedSection/RippedSection.stories.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-155 :lipstick: Moved height logic out of component
  src/components/rippedSection/RippedSection.stories.tsx
  src/components/rippedSection/RippedSection.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-155 :sparkles: Added more stories to highlight various use cases
  src/components/rippedSection/RippedSection.stories.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-155 :bug: Ensure layout props are passed through to stylesheet
  src/components/rippedSection/RippedSection.styles.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-155 :sparkles: Added story for rip with image
  src/components/rippedSection/RippedSection.stories.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-155 :fire: Removed dead code
  src/components/rippedSection/RippedSection.styles.tsx
  src/components/rippedSection/RippedSection.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-80 :fire: Deleted checkbox component and related files
  src/components/checkbox/Checkbox.js
  src/components/checkbox/Checkbox.test.js
  src/components/checkbox/index.ts
  src/components/icons/checkIcon.svg
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-80 :fire: Deleted input component and related files
  src/components/input/Input.styles.ts
  src/components/input/Input.test.js
  src/components/input/Input.tsx
  src/components/input/Input.types.ts
  src/components/input/index.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

DSO-10 :sparkles: Set up Chromatic
  .gitignore
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

DSO-10 :construction_worker: Add Chromatic Orb on CircleCI
  .circleci/config.yml
Due: none

DSO-10 :construction: Update Chromatic as a regular run task
  .circleci/config.yml
Due: none

DSO-10 :construction: Update Chromatic run task
  .circleci/config.yml
Due: none

WEBNEW-141 :mag: update JSON LD for event seo
  src/events/event/EventPage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

DSO-10 :construction: Rollback Storybook packages update
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

DSO-10 :construction: Update Storybook dependencies to 5.3.21
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

DSO-10 :construction: Update Storybook dependencies to 6.0.21
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-155 ✨ Ripped section component (#1692)
  src/components/rippedSection/Rip.tsx
  src/components/rippedSection/Rip.types.ts
  src/components/rippedSection/RippedSection.stories.tsx
  src/components/rippedSection/RippedSection.styles.tsx
  src/components/rippedSection/RippedSection.tsx
  src/components/rippedSection/RippedSection.types.ts
  src/components/rippedSection/index.ts
  src/components/rippedSection/ripVariants/RipVariant.styles.ts
  src/components/rippedSection/ripVariants/RipVariant.types.ts
  src/components/rippedSection/ripVariants/RipVariant1.tsx
  src/components/rippedSection/ripVariants/RipVariant2.tsx
  src/components/rippedSection/ripVariants/RipVariant3.tsx
  src/components/rippedSection/ripVariants/RipVariant4.tsx
  src/components/rippedSection/ripVariants/RipVariant5.tsx
  src/components/rippedSection/ripVariants/index.ts
  src/components/tornBackground/TornBackground.stories.tsx
  src/components/tornBackground/TornBackground.styles.tsx
  src/components/tornBackground/TornBackground.tsx
  src/components/tornBackground/tears/Rip1.tsx
  src/components/tornBackground/tears/Rip2.tsx
  src/components/tornBackground/tears/Rip3.tsx
  src/components/tornBackground/tears/Rip4.tsx
  src/components/tornBackground/tears/Rip5.tsx
  src/components/tornBackground/tears/Tears.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-80 🔥 Remove Form components (#1693)
  src/components/checkbox/Checkbox.js
  src/components/checkbox/Checkbox.test.js
  src/components/checkbox/index.ts
  src/components/icons/checkIcon.svg
  src/components/input/Input.styles.ts
  src/components/input/Input.test.js
  src/components/input/Input.tsx
  src/components/input/Input.types.ts
  src/components/input/index.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-120 :arrow_up: Updated Storybook to 5.3.x
  .storybook/addons.js
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-141 :mag: update JSON LD for event seo (#1704)
  src/events/event/EventPage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-120 :arrow_up: Updated Storybook to 5.3.x (#1705)
  .storybook/addons.js
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

DSO-10 :construction: Back to 5.3.21
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

DSO-10 :construction: Back to 6.0.21
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBREF-121 :arrow_up: Upgrade storybook deps to 6.x
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBREF-121 :recycle: Convert Box stories to CSF
  src/components/box/Box.stories.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-121 :recycle: Convert Button stories to CSF
  src/components/button/Button.stories.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-121 :recycle: Convert Card stories to CSF
  src/components/card/Card.stories.tsx
  src/components/card/Card.types.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-121 :recycle: Convert CategoryFilter stories to CSF
  src/components/categoryFilter/CategoryFilter.stories.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-121 :recycle: Convert CTABox stories to CSF
  src/components/ctaBox/CTABox.stories.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Path conditions:
  eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]': any of: src/**/*.{js,json,ts,tsx}
  stylelint: any of: src/**/*.{js,json,ts,tsx}
  jest --findRelatedTests: any of: src/**/*.{js,json,ts,tsx}
  remark . --frail: any of: *.md
  prettier-package-json --write: any of: package.json
  git add .: any of: package.json
