Repository PrideInLondon/pride-london-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, remark . --frail, prettier-package-json --write, git add .

Update HomePage.js
  src/homepage/HomePage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Update Navigation.tsx
  src/layout/navigation/Navigation.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Unity Fund update
  src/layout/navigation/Navigation.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Pride in the City Update
  src/layout/navigation/Navigation.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

update
  src/layout/navigation/Navigation.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Update Banner.js
  src/components/banner/Banner.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Updated navigations
  src/layout/navigation/Navigation.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

parde entry path update
  src/layout/navigation/Navigation.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

:rocket: Back to Netlify we go!
  gatsby-config.js
  gatsby-node.esm.js
  package.json
  static/_headers
  static/_redirects
  yarn.lock
Due: prettier-package-json --write, git add .

:arrow_up: Update dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

:art: yarn format
  src/events/event/EventSchedule.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

:art: yarn lint-fix
  src/components/button/Button.types.tsx
  src/components/categoryFilter/CategoryFilter.types.ts
  src/components/filterContainer/FilterLabel.types.ts
  src/components/gallery/GalleryContainer.types.ts
  src/components/icon/Icon.types.ts
  src/components/logo/Logo.types.ts
  src/components/rippedSection/Rip.types.ts
  src/components/shareBar/ShareBar.types.ts
  src/sponsors/PartnersPage.types.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

:art: more lint fixes
  src/blog/article/BlogHeader.tsx
  src/components/gridList/GridList.tsx
  src/components/helmet/Helmet.tsx
  src/homepage/HomePage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

:arrow_up: even more package upgrade
  .nvmrc
  yarn.lock
Due: none

:arrow_up: Update dependency
  yarn.lock
Due: none

Start upgrade to Gatsby v3
  .babelrc
  .nvmrc
  gatsby-config.js
  gatsby-node.esm.js
  package.json
  src/blog/BlogPage.types.ts
  src/blog/ViewsCard.styles.js
  src/blog/article/ArticlePage.js
  src/blog/article/BlogArticlePage.tsx
  src/blog/article/BlogArticlePage.types.ts
  src/blog/article/PageHeader.styles.js
  src/components/banner/Banner.styles.js
  src/components/banner/Banner.types.ts
  src/components/card/Card.tsx
  src/components/card/Card.types.ts
  src/components/categoryCard/CategoryCard.styles.tsx
  src/components/categoryCard/CategoryCard.types.ts
  src/components/galleryCard/GalleryCard.styles.ts
  src/components/galleryCard/GalleryCard.types.ts
  src/events/EventsPageBanner.styles.ts
  src/events/event/EventPage.styles.js
  src/exploreLondon/CommunityPartnerCard.styles.js
  src/genericContentPage/GenericContentPage.js
  src/homepage/AnnouncementCard.styles.js
  src/homepage/AnnouncementListCard.styles.js
  src/homepage/LatestNews.styles.js
  src/pages/events.js
  src/pages/explore-london.js
  src/pages/index.js
  src/utils/style-utils.ts
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, prettier-package-json --write, git add .

Image progress...
  src/blog/FeaturedArticleContainer.js
  src/components/banner/Banner.js
  src/components/richText/renderMethods.tsx
  src/events/event/EventPage.js
  src/layout/Footer.tsx
  src/pages/events.js
  src/pages/explore-london.js
  src/pages/index.js
  src/pages/support-us/partners.js
  src/sponsors/PartnersPage.types.ts
  src/sponsors/SponsorBadge.styles.ts
  src/sponsors/sponsors.utils.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Update hire a stall
  src/layout/navigation/Navigation.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Update figure
  src/genericContentPage/Figure.js
  src/genericContentPage/Figure.styles.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Update Figure.js
  src/genericContentPage/Figure.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Navbar update
  src/layout/navigation/Navigation.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

2024 partners update
  src/components/footer/Footer.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Minor Update
  src/components/footer/Footer.tsx
  src/layout/navigation/Navigation.tsx
  src/sponsors/PartnersPage.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Update navigation
  src/layout/navigation/Navigation.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

update navigation
  src/layout/navigation/Navigation.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Added redirect
  gatsby-redirects.txt
Due: none

Revert "Added redirect"
  gatsby-redirects.txt
Due: none

redirect update
  static/_redirects
Due: none

Added ethical policy
  src/sponsors/PartnersPage.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Updated "LGBTQ" instead of "LGBT"
  src/sponsors/PartnersPage.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Update PartnersPage.tsx
  src/sponsors/PartnersPage.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Path conditions:
  eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]': any of: src/**/*.{js,json,ts,tsx}
  stylelint: any of: src/**/*.{js,json,ts,tsx}
  jest --findRelatedTests: any of: src/**/*.{js,json,ts,tsx}
  remark . --frail: any of: *.md
  prettier-package-json --write: any of: package.json
  git add .: any of: package.json
