Repository PrideInLondon/pride-london-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, remark . --frail, prettier-package-json --write, git add .

.lintstagedrc:

{
  "src/**/*.{js,json,ts,tsx}": [
    "eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: \"tsconfig.json\"}]'",
    "stylelint",
    "jest --findRelatedTests"
  ],
  "*.md": "remark . --frail",
  "package.json": [
    "prettier-package-json --write",
    "git add ."
  ]
}

WEBNEW-72 :sparkles: Add new image for banner background
  src/components/banner/Banner.styles.js
  src/homepage/bannerBackground.jpg
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-200 :lipstick: Updated 404 page to fit site styling
  src/pages/404.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-200 :chart_with_upwards_trend: Added custom title for 404 page
  src/pages/404.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-200 📈 Page not found custom title (#1744)
  src/pages/404.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-121 :sparkles: Added CategoryFilter stories
  src/components/categoryFilter/CategoryFilter.stories.tsx
  src/components/categoryFilter/CategoryFilter.stories.tsx.old
  src/components/categoryFilter/index.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-81 :recycle: added a11y test
  src/components/ctaLink/CTALink.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-81 :recycle: Removed falsy statements and added fireEvent to Button
  src/components/button/Button.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-81 ♻️ Button + CTALink to RTL (#1719)
  src/components/button/Button.test.js
  src/components/button/Button.test.tsx
  src/components/ctaLink/CTALink.test.js
  src/components/ctaLink/CTALink.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-76 :recycle: Created LetterLink story and converted test file to tsx
  src/parade/LetterLink.stories.tsx
  src/parade/LetterLink.test.js
  src/parade/LetterLink.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

DSO-66 :wrench: Updated config to work with new Contentful env
  .env.example
  gatsby-config.js
Due: none

DSO-66 :pencil: Updated docs to reflect env var changes
  README.md
Due: remark . --frail

DSO-66 :wrench: Renamed existing env vars to be consistent
  .env.example
  README.md
  gatsby-config.js
Due: remark . --frail

DSO-66 🔧 Contentful environment (#1756)
  .env.example
  README.md
  gatsby-config.js
Due: remark . --frail

WEBREF-78 :white_check_mark: added NewsContainer and ViewsContainer tests
  src/blog/NewsContainer.test.tsx
  src/blog/ViewsContainer.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-78 :white_check_mark: added All Articles test to category filter
  src/blog/NewsContainer.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBREF-78 :white_check_mark: adjustments as per peer review (removed screen)
  src/blog/NewsContainer.test.tsx
  src/blog/ViewsContainer.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-85 :white_check_mark: migrated grid to rtl
  src/components/grid/Grid.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-76 :recycle: refactoring to rtl
  src/parade/LetterLink.js
  src/parade/ParadeGroups.stories.tsx
  src/parade/ParadeGroups.test.js
  src/parade/ParadeGroups.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-78 ✅ Blog - Migrate to React Testing Library (#1757)
  src/blog/NewsContainer.test.tsx
  src/blog/ViewsContainer.test.js
  src/blog/ViewsContainer.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-207 :lipstick: Extended rip SVG to take layout props
  src/components/rippedSection/ripVariants/RipVariant.styles.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-207 :lipstick: Added max height for rip variant SVGs
  src/components/rippedSection/ripVariants/RipVariant1.tsx
  src/components/rippedSection/ripVariants/RipVariant2.tsx
  src/components/rippedSection/ripVariants/RipVariant3.tsx
  src/components/rippedSection/ripVariants/RipVariant4.tsx
  src/components/rippedSection/ripVariants/RipVariant5.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-207 :lipstick: Swapped out max height for viewbox
  src/components/rippedSection/ripVariants/RipVariant1.tsx
  src/components/rippedSection/ripVariants/RipVariant2.tsx
  src/components/rippedSection/ripVariants/RipVariant3.tsx
  src/components/rippedSection/ripVariants/RipVariant4.tsx
  src/components/rippedSection/ripVariants/RipVariant5.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-207 :rewind: Reverted SVG back to original styles
  src/components/rippedSection/ripVariants/RipVariant.styles.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-76 :recycle: Changes as per review
  src/parade/LetterLink.js
  src/parade/LetterLink.stories.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-85 :white_check_mark: migrated grid to rtl (#1772)
  src/components/grid/Grid.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-76 :fire: Remove tests related to styling
  src/parade/LetterLink.test.tsx
  src/parade/ParadeGroups.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-72 :recycle: Moved onClick into component
  src/components/footer/Footer.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-72 :label: Moved typing to index,d,ts
  @types/global.d.ts
  src/components/footer/Footer.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-72 :fire: Remove image src prop from homepage banner
  src/homepage/HomePage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-72 :bento: Swap homepage banner image
  src/homepage/bannerBackground.jpg
  src/homepage/videoPoster.jpg
Due: none

WEBNEW-72 :bento: Updated asset for homepage banner
  src/homepage/videoPoster.jpg
Due: none

WEBNEW-72 🚸 Replace custom cookie with metomic (#1423)
  @types/global.d.ts
  package.json
  src/components/banner/Banner.js
  src/components/banner/Banner.styles.js
  src/components/banner/Banner.test.js
  src/components/footer/Footer.styles.tsx
  src/components/footer/Footer.tsx
  src/genericContentPage/Video.js
  src/genericContentPage/Video.styles.js
  src/homepage/HomePage.js
  src/homepage/bannerBackground.jpg
  src/homepage/videoPoster.jpg
  src/layout/Layout.js
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, prettier-package-json --write, git add .

WEBREF-76 :fire: Remove last test related to styling
  src/parade/LetterLink.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-222 :chart_with_upwards_trend: Added GTM to prod site via plugin
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBREF-128 :fire: Removed deprecated cookie component
  src/cookieNotice.js
  src/cookieNotice.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-76 ✅ Parade - Migrate to React Testing library (#1773)
  src/parade/LetterLink.stories.tsx
  src/parade/LetterLink.test.js
  src/parade/LetterLink.test.tsx
  src/parade/ParadeGroups.stories.tsx
  src/parade/ParadeGroups.test.js
  src/parade/ParadeGroups.test.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-123 :arrow_up: Upgraded gatsby-link dep
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBREF-123 :bug: Swapped order of prop spread
  src/components/button/Button.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-123 ⬆️ gatsby-link upgrade (#1797)
  package.json
  src/components/button/Button.tsx
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, prettier-package-json --write, git add .
