Repository PrideInLondon/pride-london-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, remark . --frail

.lintstagedrc:

{
  "src/**/*.{js,json,ts,tsx}": [
    "eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: \"tsconfig.json\"}]'",
    "stylelint",
    "jest --findRelatedTests",
    "git add"
  ],
  "*.md": "remark . --frail"
}

:arrow_up: Update Gatsby dependencies
  package.json
  yarn.lock
Due: none

WEBREF-15 ♻️ Add hooks to checkboxset component (#1283)
  src/components/appContext/index.js
  src/components/checkboxSet/CheckboxSet.styles.ts
  src/components/checkboxSet/CheckboxSet.test.js
  src/components/checkboxSet/CheckboxSet.tsx
  src/components/checkboxSet/CheckboxSet.types.tsx
  src/components/checkboxSet/__snapshots__/index.test.js.snap
  src/components/checkboxSet/index.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-55 Revert transition style
  src/components/navigation/submenu/styles.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-47: Capture and reset global window mock
  src/components/navigation/navItem/index.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-17: Refactor newsContainer to use FilteredPagedCardContainer
  src/features/blog/containers/newsContainer/index.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-17: Update NewsContainer tests
  src/features/blog/containers/newsContainer/__snapshots__/index.test.js.snap
  src/features/blog/containers/newsContainer/index.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-17: Update FilteredPagedCardContainer to handle content.category objects * Update to jest.config.js required to run esnext function Array.prototype.flat() in testing suite
  jest.config.js
  src/components/filteredPagedCardContainer/index.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-61 :bug: Strip invalid Win32 chars from event URL
  src/features/events/helpers/index.js
  src/features/events/helpers/index.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-53 :sparkles: Added git hook for gitmoji and jira
  .gitignore
  .huskyrc
  package.json
  src/scripts/prepare-commit-msg/gitmoji-utils.js
  src/scripts/prepare-commit-msg/index.js
  src/scripts/prepare-commit-msg/prepare-commit-msg.js
  src/scripts/run-script.js
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-53 :zap: Auto add jira info from branch name
  src/scripts/prepare-commit-msg/git-utils.js
  src/scripts/prepare-commit-msg/prepare-commit-msg.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-53 :zap: Refactored script to no longer ask for Jira info
  src/scripts/prepare-commit-msg/prepare-commit-msg.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-53 :zap: Added colours to console output for commit hook
  package.json
  src/scripts/prepare-commit-msg/prepare-commit-msg.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-47 :fire: Removed jest-styled-components import
  src/components/checkboxSet/CheckboxSet.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-61 :wrench: Added redirects for affected events
  static/_redirects
Due: none

WEBNEW-32: feedback re-padding
  src/features/events/components/appPromotionCard.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-55 🐛 Resolve wrapped text styling in nav underline (#1304)
  src/components/navigation/submenu/styles.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-47 ♻️ Remove unnecessary global mocks and imports from unit tests (#1288)
  config/jest.setup.js
  config/jest.setup.ts
  src/components/banner/bannerDate/index.test.js
  src/components/banner/bannerImage/index.test.js
  src/components/banner/bannerSubtitle/index.test.js
  src/components/banner/bannerTitle/index.test.js
  src/components/button/Button.test.js
  src/components/checkbox/index.test.js
  src/components/checkboxSet/CheckboxSet.test.js
  src/components/cookieNotice/index.test.js
  src/components/ctaLink/CTALink.test.js
  src/components/filterButton/index.test.js
  src/components/filterContainer/filterLabel/__snapshots__/index.test.js.snap
  src/components/filteredPagedCardContainer/__snapshots__/index.test.js.snap
  src/components/footer/index.test.js
  src/components/navigation/nav/index.test.js
  src/components/navigation/navItem/index.test.js
  src/components/navigation/submenu/index.test.js
  src/components/pagedCardContainer/__snapshots__/index.test.js.snap
  src/components/sponsors/components/sponsorBadge/__snapshots__/index.test.js.snap
  src/features/blog/components/viewsCard/index.test.js
  src/features/blog/containers/viewsContainer/index.test.js
  src/features/events/tests/groupedEventsCard.test.js
  src/features/genericContentPage/components/figure/index.test.js
  src/features/genericContentPage/components/video/index.test.js
  src/features/genericContentPage/index.test.js
  src/features/homepage/components/featuredEvents/index.test.js
  src/features/paradeGroups/components/letterLink/index.test.js
  src/features/paradeGroups/containers/paradeGroupsContainer/index.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-61 🐛 Strip invalid Win32 chars from event URL (#1328)
  src/features/events/helpers/index.js
  src/features/events/helpers/index.test.js
  static/_redirects
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-53 ✨ Automated commit message hook (#1327)
  .gitignore
  .huskyrc
  package.json
  src/scripts/prepare-commit-msg/git-utils.js
  src/scripts/prepare-commit-msg/gitmoji-utils.js
  src/scripts/prepare-commit-msg/index.js
  src/scripts/prepare-commit-msg/prepare-commit-msg.js
  src/scripts/run-script.js
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-64 :recycle: WEBNEW-64 :recyle: Add Pride's Got Talent on menu
  src/components/navigation/nav/__snapshots__/index.test.js.snap
  src/components/navigation/nav/index.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-64 :recycle: WEBNEW-64 :recyle: Add Pride's Got Talent on menu (#1330)
  src/components/navigation/nav/__snapshots__/index.test.js.snap
  src/components/navigation/nav/index.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-69 :fire: Removed parade apps from homepage
  src/pages/index.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-69 :fire: Delete parade applications component
  src/features/homepage/components/paradeApplications/index.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-60 :lock: Bumped recommended nvm node version to 12.16
  .nvmrc
Due: none

WEBREF-60 :lock: Bumped the build node version to 12.16
  .circleci/config.yml
Due: none

WEBREF-60 :lock: Regenerated lock file
  yarn.lock
Due: none

WEBREF-60 :lock: Re-regenerated lock file
  yarn.lock
Due: none

WEBREF-60 :camera_flash: Updated affected snapshots
  src/components/footer/__snapshots__/index.test.js.snap
Due: none

WEBREF-60 :label: Fixed type errors
  src/features/events/components/eventsPageBanner/EventsPageBanner.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: remark . --frail

Delete CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: remark . --frail

WEBREF-62 :pencil: Add Code of Conduct
  .github/CODE_OF_CONDUCT.md
Due: remark . --frail

WEBNEW-62 :lipstick: Stretch event card on mobile to full width
  src/features/events/components/groupedEventsCard.js
  src/features/events/tests/__snapshots__/groupedEventsCard.test.js.snap
  src/pages/events.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-62 :recycle: Refactored event heading logic
  src/features/events/components/groupedEventsCard.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-62 :lipstick: Updated date format for grouped header on event card mobile view
  src/features/events/components/groupedEventsCard.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-62 :lipstick: Reduced gap between calendar icon and date on event card
  src/features/events/components/eventListingCard.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-62 :pencil: Update Code of Conduct
  .github/CODE_OF_CONDUCT.md
Due: remark . --frail

WEBREF-62 ✏️ Add Code of Conduct (#1333)
  .github/CODE_OF_CONDUCT.md
Due: remark . --frail

WEBREF-60 🔒 Secure node version (#1332)
  .circleci/config.yml
  .nvmrc
  src/components/footer/__snapshots__/index.test.js.snap
  src/features/events/components/eventsPageBanner/EventsPageBanner.tsx
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-32: add extra test
  src/features/blog/components/newsDate/__snapshots__/index.test.js.snap
  src/features/events/components/appPromotionCard.tsx
  src/features/events/index.js
  src/features/events/tests/appPromotionCard.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests
