Repository PrideInLondon/pride-london-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, remark . --frail, prettier-package-json --write, git add .

WEBNEW-106 ✨ Show laptop icon and virtual location when virtual event (#1410)
  src/components/icons/LaptopIcon.tsx
  src/components/icons/index.js
  src/events/__mocks__/index.js
  src/events/event/EventInfoCard.js
  src/events/event/EventInfoCard.test.js
  src/events/event/EventPage.js
  src/events/helpers.js
  src/events/helpers.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-110 :sparkles: Updated event listing card to display virtual location
  src/events/EventListingCard.js
  src/events/EventListingCard.test.js
  src/layout/Layout.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-110 :bug: If physical address line 1 is not defined, don't print null
  src/events/EventListingCard.js
  src/events/EventListingCard.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-18 ♻️ EventDirectionsSection to use Hooks (#1394)
  src/events/event/EventDirectionsSection.js
  src/events/event/EventDirectionsSection.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-110 ✨ Updated event listing card to display virtual location (#1411)
  src/events/EventListingCard.js
  src/events/EventListingCard.test.js
  src/layout/Layout.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-88 :pencil: Cleaned out readme and added basic sections
  .env.example
  README.md
Due: remark . --frail

WEBREF-88 :pencil: Added build/resources/license sections to readme
  README.md
Due: remark . --frail

WEBREF-88 :pencil: Added contributing section to readme
  README.md
Due: remark . --frail

WEBREF-88 :heavy_plus_sign: Set up all contributors tool for the repo
  .all-contributorsrc
  README.md
  package.json
  yarn.lock
Due: remark . --frail, prettier-package-json --write, git add .

WEBREF-88 :pencil: Added active contributors to readme
  .all-contributorsrc
  README.md
Due: remark . --frail

WEBREF-88 :pencil: Added more contributors to readme
  .all-contributorsrc
  README.md
Due: remark . --frail

WEBREF-88 :pencil2: Fixed emoji typo
  README.md
Due: remark . --frail

WEBNEW-81 :package: Update gatsby-source-contentful
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-81 :package: Update all Gatsby dependencies + regenerate yarn.lock
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-81 📦 Update Gatsby dependencies (#1419)
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-97 :white_check_mark: Updated event card tests to run with UTC
  src/events/EventCard.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-97 :bug: Updated formatTime helper to account for tz
  package.json
  src/events/helpers.js
  src/events/helpers.test.js
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, prettier-package-json --write, git add .

WEBNEW-97 :bug: Updated event card to work with tz
  src/events/EventCard.test.js
  src/events/EventCard.ts
  src/events/EventListingCard.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-97 :sparkles: Added format override to formatTime function
  src/events/helpers.js
  src/events/helpers.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-97 :sparkles: Updated event info card to show dates as short
  src/events/event/EventInfoCard.js
  src/events/event/EventInfoCard.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-97 :zap: Updated event share to use short times
  src/events/event/EventShareSection.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-97 :truck: Moved formatShortTime into helpers
  src/events/event/EventInfoCard.js
  src/events/event/EventInfoCard.test.js
  src/events/helpers.js
  src/events/helpers.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-97 :bug: Resolved rebase bugs
  src/events/event/EventInfoCard.js
  src/events/event/EventInfoCard.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-96 :white_check_mark: created EventsPage test file and extracted the Event Count logic into a function
  src/events/EventsPage.js
  src/events/EventsPage.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-96 :recycle: changed inital state value to reflect no of events if its less than 23
  package-lock.json
  src/events/EventsPage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-96 :recycle: refactored tests to get rid of repetitive code
  src/events/EventsPage.js
  src/events/EventsPage.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-96 :white_check_mark: deleted all but one test for eventCount and added tests to check number of events to show
  package-lock.json
  src/events/EventsPage.js
  src/events/EventsPage.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-88 :fire: Removed contributors section
  .all-contributorsrc
  README.md
  package.json
  yarn.lock
Due: remark . --frail, prettier-package-json --write, git add .

WEBNEW-97 🐛 Event times to always be displayed in London time (#1406)
  package.json
  src/events/EventCard.test.js
  src/events/EventCard.ts
  src/events/EventListingCard.js
  src/events/event/EventInfoCard.js
  src/events/event/EventInfoCard.test.js
  src/events/event/EventShareSection.js
  src/events/helpers.js
  src/events/helpers.test.js
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, prettier-package-json --write, git add .

WEBNEW-96 🐛 Updated event count to display correctly in all scenarios (#1396)
  src/events/EventsPage.js
  src/events/EventsPage.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-112 :recycle: use new event dates to filter past events and sort
  gatsby-node.esm.js
  src/events/helpers.js
  src/events/helpers.test.js
  src/layout/Layout.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-112 :mute: remove comment
  src/events/helpers.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-112 :bug: fix unknown variable, update yarn lock
  src/events/helpers.js
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-112 :pencil: add jsdoc for func params
  src/events/helpers.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-112 Filter Past Events (#1420)
  gatsby-node.esm.js
  src/events/helpers.js
  src/events/helpers.test.js
  src/layout/Layout.js
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-102 :recycle: convert helpers and EventListingCard to typescript
  @types/uuid-encoder/index.d.ts
  package.json
  src/components/card/Card.tsx
  src/events/EventListingCard.js
  src/events/GroupedEventsCards.js
  src/events/__mocks__/index.js
  src/events/event/EventsYouMayLike.js
  src/events/eventListingCard/EventListingCard.styles.ts
  src/events/eventListingCard/EventListingCard.test.js
  src/events/eventListingCard/EventListingCard.tsx
  src/events/eventListingCard/EventListingCard.types.ts
  src/events/helpers.js
  src/events/helpers.ts
  src/events/index.ts
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, prettier-package-json --write, git add .

WEBNEW-113 :bento: Swapped out headline for staying in
  src/events/ComingOut.tsx
  src/events/comingOutHeadline.svg
  src/events/stayingInHeadline.svg
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-113 :bento: Added new hero for staying in
  src/events/heroImage.jpg
  src/pages/events.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-113 :fire: Removed unused images
  src/events/diageo.jpg
  src/events/heroImage2.jpg
Due: none

WEBNEW-113 :zap: Compressed hero image
  src/events/heroImage.jpg
Due: none

Path conditions:
  eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]': any of: src/**/*.{js,json,ts,tsx}
  stylelint: any of: src/**/*.{js,json,ts,tsx}
  jest --findRelatedTests: any of: src/**/*.{js,json,ts,tsx}
  remark . --frail: any of: *.md
  prettier-package-json --write: any of: package.json
  git add .: any of: package.json
