Repository PrideInLondon/pride-london-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, remark . --frail, prettier-package-json --write, git add .

WEBNEW-92 :recycle: Remove date from homepage
  src/homepage/HomePage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-92 :recycle: Remove date from homepage (#1383)
  src/homepage/HomePage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-93 :recycle: Remove sponsor logo
  src/events/EventsPage.js
  src/events/EventsPageBanner.tsx
  src/pages/events.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-93 :recycle: Remove sponsor logo (#1384)
  src/events/EventsPage.js
  src/events/EventsPageBanner.tsx
  src/pages/events.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-95 :sparkles: Added link for get your event listed page
  src/events/EventsPageBanner.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-95 :fire: Removed dead code from banner styles
  src/events/EventsPageBanner.styles.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-95 :bug: Fixed bug appearing in JS console
  src/events/GroupedEventsCards.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-84 :recycle: WEBREF-84 ♻️ Updated component file, refactored to typescript
  package-lock.json
  package.json
  src/components/helmet/Helmet.test.js
  src/components/helmet/Helmet.tsx
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, prettier-package-json --write, git add .

WEBNEW-95 ✨ Get your event listed link (#1391)
  src/events/EventsPageBanner.styles.ts
  src/events/EventsPageBanner.tsx
  src/events/GroupedEventsCards.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-84 :white_check_mark: added some tests for the Helmet component
  src/components/helmet/Helmet.test.tsx
  src/components/helmet/Helmet.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-90 :alien: Updated netlify redirects to work following breaking change
  static/_redirects
Due: none

WEBREF-18 :recycle: WEBREF-18 :recycle: EventDirectionsSection to use Hooks
  src/events/event/EventDirectionsSection.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-90 :bug: Added missing status code from redirect
  static/_redirects
Due: none

WEBREF-18 :recycle: Refactor to tsx
  src/events/event/EventDirectionsSection.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-18 :recycle: Disable eslint for useEffect dependency array
  src/events/event/EventDirectionsSection.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-90 👽 Netlify redirects following API upgrade (#1395)
  static/_redirects
Due: none

WEBREF-33 :pencil: Added documentation on how to add new fonts (#1372)
  how-to-guide.md
Due: remark . --frail

WEBREF-56 :art: Added dep to prettify package.json (#1373)
  .lintstagedrc
  .prettierignore
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBREF-84 ♻️ Updated component file, refactored to typescript (#1392)
  package-lock.json
  package.json
  src/components/helmet/Helmet.test.js
  src/components/helmet/Helmet.test.tsx
  src/components/helmet/Helmet.tsx
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, prettier-package-json --write, git add .

WEBNEW-107 :fire: Deleted package-lock.json file
  package-lock.json
Due: none

WEBNEW-107 :fire: Deleted package-lock.json file (#1405)
  package-lock.json
Due: none

WEBNEW-98 :speech_balloon: Updated copy for 2019 partners
  src/layout/footer/Footer.js
  src/sponsors/PartnersPage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-98 :speech_balloon: Updated copy for 2019 partners (#1407)
  src/layout/footer/Footer.js
  src/sponsors/PartnersPage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-109 :children_crossing: Removed requirement for event to have physical location
  src/events/event/EventPage.js
  src/events/helpers.js
  src/events/helpers.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-109 :goal_net: Added null check to event direction render
  src/events/event/EventPage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-109 :bug: Inverted boolean to be correct
  src/events/event/EventPage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-109 :fire: Removed location from ternary
  src/events/event/EventPage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-32 :sparkles: Use CTA text from contentful on event button
  src/events/event/EventInfoCard.js
  src/events/event/EventPage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-109 :mag: Conditionally add location metadata to event
  src/events/event/EventPage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-32 :fire: remove console log
  src/events/event/EventPage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-109 🚸 Removed requirement for event to have physical location (#1408)
  src/events/event/EventPage.js
  src/events/helpers.js
  src/events/helpers.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-104 ✨ Use CTA text from contentful on event button (#1409)
  src/events/event/EventInfoCard.js
  src/events/event/EventPage.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-106 :sparkles: Show stream icon when virtual event
  src/components/icons/LaptopIcon.tsx
  src/components/icons/index.js
  src/events/event/EventInfoCard.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-106 :fire: Removed unneccessary tests
  src/events/__mocks__/index.js
  src/events/event/EventInfoCard.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-106 :art: Updated isVirtualEvent to take non-named param
  src/events/event/EventPage.js
  src/events/helpers.js
  src/events/helpers.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-106 :bug: Updated icon props to be valid
  src/components/icons/LaptopIcon.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-106 :white_check_mark: Added tests for address formatting
  src/events/event/EventInfoCard.js
  src/events/event/EventInfoCard.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-106 :white_check_mark: Added test for Location component
  src/events/event/EventInfoCard.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-106 :white_check_mark: Added tests for time formatting
  src/events/event/EventInfoCard.js
  src/events/event/EventInfoCard.test.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBREF-18 :recycle: Restructure EventDirectionsSection according to feedback
  src/events/event/EventDirectionsSection.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Path conditions:
  eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]': any of: src/**/*.{js,json,ts,tsx}
  stylelint: any of: src/**/*.{js,json,ts,tsx}
  jest --findRelatedTests: any of: src/**/*.{js,json,ts,tsx}
  remark . --frail: any of: *.md
  prettier-package-json --write: any of: package.json
  git add .: any of: package.json
