Repository PrideInLondon/pride-london-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, remark . --frail, prettier-package-json --write, git add .

WEBREF-74 :white_check_mark: WEBREF-74 :white_check_mark: WEBREF-74 Remove ts-node from yarn.lock
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-250 :lipstick: Reworked styling for blog article title
  src/blog/article/BlogArticlePage.styles.tsx
  src/blog/article/BlogArticlePage.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-250 :recycle: Refactored quote component to use styled-system only
  src/components/quote/Quote.styles.tsx
  src/components/quote/Quote.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-250 :lipstick: Updated quote font sizing across device screens
  src/components/quote/Quote.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-250 :bento: Tweaked SVG rip back to 132 height viewbox
  src/components/rippedSection/ripVariants/RipVariant4.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-250 :lipstick: Add slight overlap to resolve gap issue with certain SVGs
  src/components/rippedSection/ripVariants/RipVariant.styles.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-250 :alien: Add maxHeight to blog article hero query
  src/blog/article/BlogArticlePage.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-250 :lipstick: Tweaked styling for mobile category section
  src/blog/article/BlogArticlePage.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-162 :lipstick: Applied styles to text in hero component
  src/components/hero/Hero.styles.ts
  src/components/hero/Hero.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-252 :speech_balloon: WEBNEW-252 Add _noBase64 to GatsbyContentfulFixed_withWebp, update README.md and replace LGBTQ with LGBT
  README.md
  src/layout/Layout.js
  src/sponsors/PartnersPage.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, remark . --frail

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

WEBNEW-253 :arrow_up: WEBNEW-253 :construction: WEBNEW-253 Update minor deps
  --UPDATE NOTES--
  package.json
  src/components/footer/Footer.tsx
  src/components/modal/Modal.styles.tsx
  src/components/modal/Modal.tsx
  src/events/event/EventPage.js
  src/exploreLondon/CommunityPartnerCard.js
  src/sponsors/PartnersPage.tsx
  src/utils/date.ts
  src/utils/index.ts
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, prettier-package-json --write, git add .

WEBNEW-253 :bug: WEBNEW-253 Remove sitemap and host from production gatsby-plugin-robots-txt config to reflect documentation exactly
  gatsby-config.js
Due: none

WEBNEW-255 :fire: Remove campaign page in navigation and change redirect links for You Me Us We to about-us
  --UPDATE NOTES--
  src/homepage/CampaignContainer.js
  src/layout/navigation/Navigation.tsx
  static/_redirects
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Update dependencies
  .husky/.gitignore
  .husky/pre-commit
  .husky/prepare-commit-msg
  .nvmrc
  jest.config.js
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-254 :recycle: Add pre-commit and prepare-commit-msg files
  .husky/pre-commit
  .husky/prepare-commit-msg
  package.json
  src/components/card/Card.tsx
  src/components/categoryCard/CategoryCard.styles.tsx
  src/events/EventsPageBanner.styles.ts
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, prettier-package-json --write, git add .

WEBNEW-254 :zap: Update ref cleanup in ViewsContainer
  src/blog/ViewsContainer.js
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-254 :rotating_light: Add check for ref in useEventListener
  src/blog/ViewsContainer.js
  src/components/modal/Modal.test.tsx
  src/hooks/useEventListener.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-254 :sparkles: Add temporary google-site-verification
  src/components/helmet/Helmet.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-260 :arrow_up: WEBNEW-260 Update storybook
  .storybook/main.js
  .storybook/preview.js
  .storybook/tsconfig.json
  .storybook/webpack.config.js
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-260 :arrow_up: WEBNEW-260 Update minor dependencies for gatsby and replace yarn.lock
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-260 :arrow_up: WEBNEW-260 Update react
  .jest/jest.setup.js
  package.json
  src/components/banner/Banner.js
  src/components/modal/Modal.tsx
  src/components/typography/Typography.tsx
  src/layout/LayoutHelmet.js
  src/layout/navigation/SubMenu.tsx
  src/utils/index.ts
  src/utils/useIsomorphicEffect.ts
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, prettier-package-json --write, git add .

WEBNEW-260 :heavy_minus_sign: WEBNEW-260 Remove react-dates
  --UPDATE NOTES--
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-260 :arrow_up: WEBNEW-260 :coffin: WEBNEW-260 Remove resolutions
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-261 :arrow_up: WEBNEW-261 Add dependencies
  PIL WebPage Update
  gatsby-node.esm.js
  package.json
  yarn.lock
Due: prettier-package-json --write, git add .

WEBNEW-262 :alien: WEBNEW-262 Add stalls to navigation menu
  src/layout/navigation/Navigation.tsx
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

WEBNEW-264 :sparkles: WEBNEW-264 Add Accessibility to navigation
  gatsby-node.esm.js
  package.json
  src/blog/BlogPage.tsx
  src/components/button/Button.styles.tsx
  src/components/ctaLink/CTALink.tsx
  src/components/gridList/GridList.tsx
  src/components/quote/Quote.tsx
  src/components/talentProfile/TalentProfile.tsx
  src/layout/navigation/NavItem.tsx
  src/layout/navigation/Navigation.tsx
  src/layout/navigation/SubMenu.tsx
  src/pages/parade/map.js
  src/pages/privacy.js
  src/utils/location-utils.ts
  src/utils/location-utils.types.ts
  yarn.lock
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests, prettier-package-json --write, git add .

WEBNEW-251 :lipstick: WEBNEW-251 Add homepage and navigation changes
  --UPDATE NOTES--
  src/campaigns/visibilityUnityEquality/assets/PiL_VUE_1920x2000.jpg
  src/homepage/CampaignContainer.js
  src/homepage/CampaignContainer.styles.js
  src/homepage/HomePage.js
  src/layout/navigation/Navigation.tsx
  src/utils/location-utils.ts
  src/utils/location-utils.types.ts
Due: eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]', stylelint, jest --findRelatedTests

Path conditions:
  eslint --fix --plugin tsc --rule 'tsc/config: [2, {configFile: "tsconfig.json"}]': any of: src/**/*.{js,json,ts,tsx}
  stylelint: any of: src/**/*.{js,json,ts,tsx}
  jest --findRelatedTests: any of: src/**/*.{js,json,ts,tsx}
  remark . --frail: any of: *.md
  prettier-package-json --write: any of: package.json
  git add .: any of: package.json
